/* General Button Styles */
.ui.button {
    text-align: center;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: var(--gray_100);
    font-size: 16px;
    background-color: var(--blue_gray_900);
    border-radius: var(--radius-xs);
    border: 1px solid var(--blue_gray_900);
}

/* Button Variants */
.ui.button.round {
    border-radius: var(--radius-xs);
}

.ui.button.outline.white_a700 {
    box-shadow: var(--shadow-xs);
    color: var(--white_a700);
    border: 2px solid var(--white_a700);
}

.ui.button.fill.black_900 {
    background-color: var(--black_900);
    box-shadow: var(--shadow-xs);
    color: var(--white_a700);
}

.ui.button.fill.blue_gray_900 {
    background-color: var(--blue_gray_900);
    color: var(--gray_100);
}

/* Button Sizes */
.ui.button.size-xs {
    height: 40px;
    padding: 0 34px;
    font-size: 16px;
}

.ui.button.size-sm {
    height: 52px;
    padding: 0 24px;
    font-size: 16px;
}

.ui.button.size-md {
    height: 62px;
    padding: 0 34px;
    font-size: 20px;
}

.ui.button.size-lg {
    height: 76px;
    padding: 0 32px;
    font-size: 24px;
}

/* General Input Styles */
.ui.input {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: text;
    background-color: var(--white_a700);
    border-radius: var(--radius-xs);
    border: 0.5px solid var(--blue_gray_100);
}

/* Input Variants */
.ui.input.round {
    border-radius: var(--radius-xs);
}

.ui.input.fill.white_a700 {
    background-color: var(--white_a700);
    box-shadow: var(--shadow-xs);
    color: var(--gray_600);
}

/* Input Sizes */
.ui.input.size-xs {
    height: 40px;
    padding: 0 12px;
}

.ui.input.size-sm {
    height: 48px;
    padding: 0 14px;
    font-size: 16px;
}

/* Text Area Styles */
.ui.textarea {
    width: 100%;
    font-size: 16px;
    padding: 16px;
    border-radius: var(--radius-xs);
    border: 1px solid var(--blue_gray_100);
    background-color: var(--white_a700);
}

.ui.textarea.size-xs {
    height: 162px;
}

/* Heading Styles */
.ui.heading {
    color: var(--gray_900);
    font-family: Inter, sans-serif;
    font-weight: 500;
}

.ui.heading.size-textxs {
    font-size: 16px;
}

/* Container Styles */
.container-xs {
    max-width: 1392px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.ui-input.white-a700 {
    background-color: var(--white_a700);
    color: var(--gray_600);
}
